# ignore output files
measure-depth/

# ignore template files
includes/templates

# ignore images in registration-testing
registration-testing/**/*.jpg
registration-testing/**/*.JPG

# ignore images in main directory
*.JPG
*.jpg
