# ignore output files
Results/

# ignore template files
includes/templates

# ignore images in registration-testing
registration-testing/**/*.jpg
registration-testing/**/*.JPG

# ignore templates
AppData/**/*.jpg
AppData/**/*.JPG

deep-learning/**/*.jpg
deep-learning/**/*.JPG

# ignore images in main directory
*.JPG
*.jpg

# ignore models and training images
AppData/
registration-testing/
